<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.5/galleria.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}" title="logout">Logout</a>
    <a href="/profile" title="profile">Your Profile</a>
{% else %}
    <a href="/login" title="login">Login</a>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>